*,
*:before,  /*Sumário. ::before cria um pseudo-elemento que é o primeiro filho do elemento atingido. 
            É frequentemente utilizado para adicionar conteúdo decorativo à um element 
            utilizando a propriedade conten*/
*:after{    
        /*Em CSS, ::after cria um pseudo-elemento que é o último filho do elemento selecionado.
        Muitas vezes é usado para adicionar e melhorar o conteúdo de um elemento como a propriedade content.
        É inline por padrão*/
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #ffde2a;
}

.name{
    height: 50px; /*altura*/
    width: 230px; /*largura*/
    position: absolute;
    background-color: white;
    border: 5px solid black;
    border-radius: 10px;
    margin: auto;
    left: 41%; /*esquerda*/
    top: 15%; /*topo*/
}

.name p{
    text-align: center;
    top: 20px; /*topo*/
}

.player{
    background-color: #AB2BAD;
    height: 200px; /*altura*/
    width: 140px; /*largura*/
    position:absolute;
    margin: auto;
    left: 0; /*esquerda*/
    right: 0; /*direita*/
    top: 0; /*topo*/
    bottom: 0;
    border: 10px solid #000000;
    border-bottom: none;
    border-radius: 60px 80px 0 0;
    z-index: 1; /*Resumo. A propriedade z-index especifica a ordem-z de um elemento e de seus herdeiros.
                Quando os elementos sobrepõem, a z-ordem determina qual elemento cobre o outro*/
}

.player:after{
    content: "";
    position: absolute;
    width: 92%;
    height: 85%;
    background-color: #ED54BA;
    top: 2.5px;
    left: 6px;
    border-radius: 58% 70% 28% 42% / 28% 56% 88% 89%;
}

.legs{
    height: 50px;
    width: 60px;
    background-color: #AB2BAD;
    position: absolute;
    bottom: -50px;
    left: -10px;
    border: 10px solid #000000;
    border-top: none;
    border-radius: 0 0 22px 22px;
    z-index: 1;
}

.legs:before{
    content: "";
    height: 45px;
    width: 60px;
    background-color: #AB2BAD;
    position: absolute;
    right: -90px;
    border: 10px solid #000000;
    border-top: none;
    border-radius: 0 0 22px 22px;
}

.legs:after{
    content: "";
    height: 10px;
    width: 55px;
    background-color: #000000;
    position: absolute;
    top: -10px;
    left: 40px;
    border-radius: 0 0 10px 0;
}

.back{
    height: 120px;
    width: 35px;
    background-color: #ED54BA;
    position: absolute;
    border: 10px solid black;
    top: 65px;
    left: -45px;
    border-right: none;
    border-radius: 20px 0 0 20px ;
}

.back:before{
    content: "";
    height: 78px;
    width: 26px;
    background-color: #AB2BAD;
    position: absolute;
    bottom: -0.5px;
    left: -1px;
    border-right: none;
    border-radius: 12px 0 0 8px ;
}

.glass{
    height: 75px;
    width: 110px;
    background-color: #225381;
    z-index: 2;
    position: absolute;
    top: 30px;
    left: 40px;
    border-radius: 25px 50px 30px 30px ;
    border: 10px solid black;
}

.glass:before{
    content: "";
    position: absolute;
    height: 65%;
    width: 85%;
    background-color: #71d4ec;
    border-radius: 0 28px 3px 30px;
    right: 0;
    top: 0;
}

.glass::after{
    content: "";
    position: absolute;
    height: 22%;
    width: 45%;
    background-color: #f7f7f7;
    border-radius: 10px;
    left: 39px;
    top: 5px;
    transform: rotate(6deg);
}

.shadow{
    height: 40px;
    width: 210px;
    background-color: rgba(153, 130, 0,0.2);
    position: absolute;
    bottom: -60px;
    right: -40px;
    border-radius: 50%;
    z-index: 0;
}